
<h1> Enter Item Details </h1>

<%= form_for @category, :url => url_for(:controller => 'categories', :action => 'update') do |f| %>

<table>
<tr>
	<td><%= f.label :Category_Id %></td>

	<td><%= f.text_field :category_id %></td>
	</tr>
	<tr>
	<td><%= f.label :SubCategory_Name %></td>

	<td><%= f.text_field :Sub_name %></td>
	</tr>
	</table>
	
<%= f.submit "save" %>
<% end %>


<li><%= link_to "BACK", categories_path %></li>
